<h1>New Sprint</h1>
<form [formGroup]="newSprintForm" (ngSubmit)="onSubmit(newSprintForm.value)">

    <div>
      <label for="name">
        Name
      </label>
      <input id="name" type="text" formControlName="name">
    </div>
  
    <div>
      <label for="duration">
        Sprint Duration
      </label>
      <input id="duration" type="number" formControlName="duration">
    </div>
    
    <div>
        <span>Developer availabilities</span>
        <div formArrayName="developerAvailabilities" *ngFor="let item of newSprintForm.get('developerAvailabilities').controls; let i = index;">
            <div [formGroupName]="i">
                <div>
                    <label for="developerId">
                        developer visa
                    </label>
                    <input id="developerId" type="string" formControlName="developerId">
                </div>
                <div>
                    <label for="availability">
                        availability
                    </label>
                    <input id="availability" type="number" formControlName="availability">
                </div>
            </div>
        </div>
        <button class="button" type="button" (click)="addDeveloper()">Add Developer</button>

    </div>

    <button class="button" type="submit">Create</button>
  
  </form>